.container {
    background-color: grey;
    height: 300px;
    width: 300px;
    position: relative;
    left: 0px;
    top: 0px;
}

.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    left:0px;
    top: 0px;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}